
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* section top starts */
body {
    margin: 0;
    padding: 0;
}



.sec-top {
    width: 100%;
    background-color: hsl(0, 0%, 0%);
}

.sec-top>header>nav {
    padding-top: 0.3em;
    display: flex;
    justify-content: space-around;
}


.sec-top>header>nav>ul>li {
    display: inline;
    padding-inline: 1em;
    vertical-align: top;
}

.sec-top>header>nav>ul>li>a {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.sec-top>header>nav>ul>li>img {
    height: 14.5px;
    rotate: 45deg;
    margin-bottom: -2px;
    margin-right: 9px;
    ;
}

.sec-top>header>nav>ul>li>button#sign-up {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    width: 80px;
    border-radius: 20px;
    transition-duration: 200ms;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    padding: 7px;
    vertical-align: top;
    margin-top: -0.5em;
    margin-left: -1.5em;
}

.sec-top>header>nav>ul.first-part {
    margin-right: 13em;
}

.sec-top>header>nav>ul.first-part>li>a.uber {
    font-size: 22px;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-top>header>nav>ul.first-part>li>select {
    width: 65px;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
}

.sec-top>header>nav>ul.first-part>li>select>option {
    background-color: hsl(0, 0%, 100%);
    color: hsla(0, 0%, 0%, 0.468);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
}

.sec-top>header>nav>ul.first-part>li>select:hover {
    background-color: hsla(0, 0%, 0%, 0.468);
    ;
}

.sec-top>header>nav>ul.second-part {
    margin-left: 13em;
    display: flex;
}

.sec-top>.go-anywhere {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4em;
}

.sec-top>.go-anywhere {
    padding-bottom: 3.5em;
}

.sec-top>.go-anywhere>.go-anywhere-form {
    margin-top: 8em;
    margin-left: 8em;
    display: block;
}

.sec-top>.go-anywhere>.go-anywhere-form>h1 {
    font-size: 40pt;
    font-weight: 700;
    width: 90%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.sec-top>.go-anywhere>.go-anywhere-form>h1,
p {
    color: hsl(0, 0%, 100%);
}

.sec-top>.go-anywhere>.go-anywhere-form>p,
input,
button {
    display: block;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.sec-top>.go-anywhere>.go-anywhere-form>.form-group {
    margin-bottom: 1em;
    background-color: hsl(0, 0%, 100%);
    width: 24em;
    height: 2.8em;
    border: none;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}

.sec-top>.go-anywhere>.go-anywhere-form>.form-group input {
    border: none;
    font-size: 12pt;
    outline: none;
    width: 20em;
}

.sec-top>.go-anywhere>.go-anywhere-form>.form-group>#first {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.sec-top>.go-anywhere>.go-anywhere-form>.form-group>#second {
    height: 100%;
    display: flex;
    margin-right: 1em;
    align-items: center;
}

.sec-top>.go-anywhere>.go-anywhere-form>#f1>#first>span {
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 100%;
    width: 0.15em;
    height: 0.15em;
    margin-right: 0.5em;
}

.sec-top>.go-anywhere>.go-anywhere-form>#f1>#second>span>i {
    font-size: 18pt;
}

.sec-top>.go-anywhere>.go-anywhere-form>#f2>#first>span {
    border: 3px solid hsl(0, 0%, 0%);
    width: 0.15em;
    height: 0.15em;
    margin-right: 0.5em;
}

.sec-top>.go-anywhere>.go-anywhere-form>.form-group>input {
    height: 80%;
}

.sec-top>.go-anywhere>.go-anywhere-form>button {
    padding: 8px;
    font-size: 17px;
    width: 7em;
    border-radius: 10px;
    cursor: pointer;
}

.sec-top>.go-anywhere>.go-anywhere-img {
    margin-right: 8em;
}


.sec-top>.go-anywhere>.go-anywhere-img>img {
    height: 40em;
}

/* section top ends */




/* section middle starts*/


.sec-middle>.suggestions {
    margin-left: 10.5em;
    margin-top: 4em;
}

.sec-middle>.suggestions>h1 {
    font-size: 32px;
    font-weight: 700;
}

.sec-middle>.suggestions>.suggestions-cards {
    display: flex;
    column-gap: 1em;
}

.sec-middle>.suggestions>.suggestions-cards>.card {
    display: flex;
    background-color: hsl(0, 0%, 95%);
    padding: 1em;
    border-radius: 10px;
}

.sec-middle>.suggestions>.suggestions-cards>.card>.about>p {
    width: 16em;
    color: hsl(0, 0%, 0%);
    font-size: 12px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sec-middle>.suggestions>.suggestions-cards>.card>.img>img {
    height: 140px;
}

.sec-middle>.get-started-sec {
    margin-top: 8.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec-middle>.get-started-sec>.spacer {
    width: 9em;
}

.sec-middle>.get-started-sec>.get-started-img>img {
    width: 32.7em;
}

.sec-middle>.get-started-sec>.get-started-about>h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 47px;
    font-weight: 700;
}

.sec-middle>.get-started-sec>.get-started-about>p {
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
}

.sec-middle>.get-started-sec>.get-started-about>.click-links {
    display: flex;
    column-gap: 2em;
}

.sec-middle>.get-started-sec>.get-started-about>.click-links>button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.sec-middle>.get-started-sec>.get-started-about>.click-links>a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.674);
}

.sec-middle>.get-started-sec>.get-started-about>.click-links>a>hr {
    position: relative;
    top: -0.2em;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.39);
    height: 1px;
}


/* section middle ends */


/* bottom section starts  */
.sec-bottom>.download-app-qr {
    background-color: hsl(0, 0%, 96%);
    padding-left: 10.5em;
    padding-top: 2.5em;
    padding-bottom: 2.9em;
    margin-top: 3.5em;
}

.sec-bottom>.download-app-qr>.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
}


.sec-bottom>.download-app-qr>.app-qrs-section {
    display: flex;
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr {
    margin: 1em;
    background-color: hsl(0, 0%, 100%);
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child {
    margin: 1em;
    display: flex;
    align-items: center;
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child>img {
    height: 150px;
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child>.title-and-sub-title {
    margin-left: 1.5em;
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child>.title-and-sub-title>h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child>.title-and-sub-title>p {
    margin-top: -0.8em;
    color: hsl(0, 0%, 25%);
}

.sec-bottom>.download-app-qr>.app-qrs-section>.app-qr>.child>.click-arrow {
    margin-left: 2em;
    font-size: 18pt;
}

.sec-bottom>footer {
    background-color: hsl(0, 0%, 0%);
    padding-left: 10.6em;
    padding-top: 5.4em;
    color: hsl(0, 0%, 100%);
}

.sec-bottom>footer>.child>.uber>h3 {
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}

.sec-bottom>footer>.child>.Visit-Help-Center {
    height: 65px;
    width: fit-content;
    margin-top: 2.2em;
    cursor: pointer;
}

.sec-bottom>footer>.child>.Visit-Help-Center:hover {
    border-bottom: 1px solid white;
}

.sec-bottom>footer>.child>.Visit-Help-Center>h5 {
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0;
}

.sec-bottom>footer>.child>.quick-links {
    display: flex;
    margin-left: -2.25em;
    column-gap: 10em;
}

.sec-bottom>footer>.child>.quick-links>ul {
    list-style: none;
}

.sec-bottom>footer>.child>.quick-links>ul>li {
    line-height: 35px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.sec-bottom>footer>.child>.quick-links>ul>li>h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}


.sec-bottom>footer>.child>.social-media-and-lang-loc {
    display: flex;
    column-gap: 29.5em;
    margin-top: 3.7em;
}


.sec-bottom>footer>.child>.social-media-and-lang-loc>.social-media{
    display: flex;
    column-gap: 5.5em;
}


.sec-bottom>footer>.child>.social-media-and-lang-loc>.social-media>span>img{
    height: 0.9em;
}

.sec-bottom>footer>.child>.social-media-and-lang-loc>.lang-and-loc{
    display: flex;
    column-gap: 1.5em;
}

.sec-bottom>footer>.child>.social-media-and-lang-loc>.lang-and-loc>.child{
    display: flex;
    column-gap: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.sec-bottom>footer>.child>.social-media-and-lang-loc>.lang-and-loc>.child>img{
    height: 13px;
}

.sec-bottom>footer>.child>.social-media-and-lang-loc>.lang-and-loc>.child>img.loc{
    height: 18px;
}

.sec-bottom>footer>.child>.app-download-btns {
    display: flex;
    margin-top: 3.7em;
    column-gap: 0.45em;
    align-items: center;
}

.sec-bottom>footer>.child>.app-download-btns>.btn>img{
    height: 2.5em;
}

.sec-bottom>footer>.child>.app-download-btns>#google-play>img{
    height: 2.25em;
}

.sec-bottom>footer>.child>.copy-right-and-others {
    display: flex;
    column-gap: 65em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.627);
    margin-top: 4em;
    padding-bottom: 7em;
}

.sec-bottom>footer>.child>.copy-right-and-others>.sec-2{
    display: flex;
    column-gap: 2.7em;
}


/* bottom section ends  */